### librer√≠as

In [1]:
import pandas as pd

In [ ]:
#pip install geopandas

In [ ]:
import geopandas as gpd

In [ ]:
from shapely.geometry import Point

### carga de datasets

In [2]:
hv_path = '/content/drive/MyDrive/Proyecto Introduccion a la Ciencia de Datos'

In [ ]:
geo_sect = gpd.read_file(f'{hv_path}/data/map.geojson')

In [3]:
ventas = pd.read_csv(f'{hv_path}/output/propiedades_en_venta.csv')

In [4]:
alquiler = pd.read_csv(f'{hv_path}/output/propiedades_en_alquiler.csv')

In [ ]:
data_sectores = pd.read_csv(f'{hv_path}/data/Sectores_Definitivo.csv')

In [ ]:
data_sectores.drop(columns = ['Unnamed: 0'], inplace = True)

In [ ]:
ventas.head(3)

,id,start_date,end_date,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,operation_type,Nombre_sector,precioxmt2
0,iUkBsXP6XTav/ZnDJHEd3A==,2020-12-18,2021-02-17,-2.033523,-79.893292,Ecuador,Guayas,Guayaquil,NaN,NaN,4.0,1736.045045,525.809524,145000.0,Casa,Venta,Villa Club,83.523178
1,Il0K8hDYRkTRIzV0mo5jgQ==,2020-12-18,2020-12-18,-2.055185,-79.930277,Ecuador,Guayas,Guayaquil,NaN,NaN,3.0,1736.045045,525.809524,125000.0,Casa,Venta,La Rioja,72.002740
2,0RxX2VngJ4h6uM8zRMgnjw==,2020-12-18,2021-01-05,-2.059427,-79.928693,Ecuador,Guayas,Guayaquil,NaN,NaN,4.0,1736.045045,525.809524,96500.0,Casa,Venta,Villa Italia,55.586115

In [ ]:
alquiler.shape

(35127, 17)

In [ ]:
ventas.shape

(35116, 18)

In [ ]:
ventas['bathrooms'].isna().sum()

5223

In [ ]:
alquiler['bathrooms'].isna().sum()

1803

In [ ]:
alquiler.dropna(subset=['bathrooms'], inplace=True)
ventas.dropna(subset=['bathrooms'], inplace=True)

### m√©tricas

In [ ]:
df = ventas.groupby(['l3', 'Nombre_sector'], as_index=False)['precioxmt2'].mean()

In [ ]:
df

            l3   Nombre_sector   precioxmt2
0    Guayaquil    Abel Gilbert    57.235633
1    Guayaquil         Acacias    39.845981
2    Guayaquil  Academia Logos    92.879041
3    Guayaquil        Acuarela    70.535564
4    Guayaquil        Alborada    67.467617
..         ...             ...          ...
220      Quito     Santa Anita  1213.689162
221      Quito    Santa Isabel   507.530245
222      Quito      Santa Rita   391.641582
223      Quito         Solanda   369.978098
224      Quito       Turubamba   474.973907

[225 rows x 3 columns]

In [ ]:
data_sectores['CCMC'] = data_sectores['N centros Comerciales']/data_sectores['AreaMT2']

In [ ]:
df = df.merge(data_sectores[['Nombre_sector', 'CCMC']])

In [ ]:
df

            l3   Nombre_sector   precioxmt2          CCMC
0    Guayaquil    Abel Gilbert    57.235633  0.000000e+00
1    Guayaquil         Acacias    39.845981  0.000000e+00
2    Guayaquil  Academia Logos    92.879041  6.305155e-06
3    Guayaquil        Acuarela    70.535564  5.510885e-06
4    Guayaquil        Alborada    67.467617  4.157044e-06
..         ...             ...          ...           ...
220      Quito     Santa Anita  1213.689162  0.000000e+00
221      Quito    Santa Isabel   507.530245  0.000000e+00
222      Quito      Santa Rita   391.641582  6.293926e-07
223      Quito         Solanda   369.978098  2.739629e-06
224      Quito       Turubamba   474.973907  1.692989e-06

[225 rows x 4 columns]

In [ ]:
alq_prom = alquiler.groupby('Nombre_sector', as_index=False)['price'].mean()
alq_prom.columns = ['Nombre_sector', 'alq_prom']

In [ ]:
df = df.merge(alq_prom, how='left')

In [ ]:
df

            l3   Nombre_sector   precioxmt2          CCMC     alq_prom
0    Guayaquil    Abel Gilbert    57.235633  0.000000e+00  3000.000000
1    Guayaquil         Acacias    39.845981  0.000000e+00   245.000000
2    Guayaquil  Academia Logos    92.879041  6.305155e-06   665.921053
3    Guayaquil        Acuarela    70.535564  5.510885e-06   390.688073
4    Guayaquil        Alborada    67.467617  4.157044e-06   389.192825
..         ...             ...          ...           ...          ...
220      Quito     Santa Anita  1213.689162  0.000000e+00   300.000000
221      Quito    Santa Isabel   507.530245  0.000000e+00  1602.909091
222      Quito      Santa Rita   391.641582  6.293926e-07   504.285714
223      Quito         Solanda   369.978098  2.739629e-06   451.052632
224      Quito       Turubamba   474.973907  1.692989e-06   540.645161

[225 rows x 5 columns]

In [ ]:
geo_sect['centro_sector'] = geo_sect['geometry'].apply(lambda x: x.centroid)

In [ ]:
geo_sect = geo_sect.merge(df[['l3', 'Nombre_sector']], left_on='Name', right_on='Nombre_sector')

In [ ]:
municipio_gye = Point(-79.880824863767, -2.1952322152143777)
plaza_grande_uio = Point(-78.51207140183388, -0.2200787024529181)

In [ ]:
def centro_ciudad(x):
  if x == 'Quito':
    return plaza_grande_uio
  elif x == 'Guayaquil':
    return municipio_gye

In [ ]:
geo_sect['centro_ciudad'] = geo_sect['l3'].apply(centro_ciudad)

In [ ]:
geo_sect['DSC'] = geo_sect.apply(lambda x: x['centro_sector'].distance(x['centro_ciudad']), axis=1)

In [ ]:
geo_sect

,stroke,stroke-width,stroke-opacity,fill,fill-opacity,Name,Description,geometry,centro_sector,l3,Nombre_sector,centro_ciudad,DSC
0,#555555,2.0,1.0,#555555,0.5,Urbanizacion La Saiba,None,"POLYGON ((-79.89851 -2.22271, -79.89738 -2.230...",POINT (-79.89426 -2.22719),Guayaquil,Urbanizacion La Saiba,POINT (-79.880824863767 -2.1952322152143777),0.034663
1,#555555,2.0,1.0,#555555,0.5,Ciudadela 9 de Octubre,None,"POLYGON ((-79.89676 -2.23578, -79.89084 -2.235...",POINT (-79.89390 -2.23324),Guayaquil,Ciudadela 9 de Octubre,POINT (-79.880824863767 -2.1952322152143777),0.040191
2,#555555,2.0,1.0,#555555,0.5,Parroquia Pedro Carbo,Parroquia Carbo,"POLYGON ((-79.88000 -2.18365, -79.88074 -2.183...",POINT (-79.87990 -2.18737),Guayaquil,Parroquia Pedro Carbo,POINT (-79.880824863767 -2.1952322152143777),0.007918
3,None,NaN,NaN,None,NaN,Parroquia Olmedo,Parroquia Olmedo,"POLYGON ((-79.88402 -2.20781, -79.88352 -2.205...",POINT (-79.88522 -2.20339),Guayaquil,Parroquia Olmedo,POINT (-79.880824863767 -2.1952322152143777),0.009265
4,None,NaN,NaN,None,NaN,Parroquia Ayacucho,Parroquia Ayacucho,"POLYGON ((-79.88550 -2.21783, -79.88402 -2.207...",POINT (-79.88985 -2.21109),Guayaquil,Parroquia Ayacucho,POINT (-79.880824863767 -2.1952322152143777),0.018248
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,#555555,2.0,1.0,#555555,0.5,La Ecuatoriana,None,"POLYGON ((-78.58413 -0.33500, -78.58336 -0.335...",POINT (-78.57184 -0.30910),Quito,La Ecuatoriana,POINT (-78.51207140183388 -0.2200787024529181),0.107224
222,#555555,2.0,1.0,#555555,0.5,Guamani,None,"POLYGON ((-78.54911 -0.36019, -78.54903 -0.357...",POINT (-78.56360 -0.33514),Quito,Guamani,POINT (-78.51207140183388 -0.2200787024529181),0.126068
223,#555555,2.0,1.0,#555555,0.5,Mapasingue,None,"POLYGON ((-79.93706 -2.16274, -79.93148 -2.160...",POINT (-79.92698 -2.15359),Guayaquil,Mapasingue,POINT (-79.880824863767 -2.1952322152143777),0.062163
224,#555555,2.0,1.0,#555555,0.5,Bellavista,None,"POLYGON ((-79.91801 -2.18873, -79.91245 -2.188...",POINT (-79.91173 -2.18396),Guayaquil,Bellavista,POINT (-79.880824863767 -2.1952322152143777),0.032900
225,#555555,2.0,1.0,#555555,0.5,I√±aquito,None,"POLYGON ((-78.48693 -0.16794, -78.49035 -0.182...",POINT (-78.48176 -0.17965),Quito,I√±aquito,POINT (-78.51207140183388 -0.2200787024529181),0.050530

In [ ]:
df = df.merge(geo_sect[['Nombre_sector', 'DSC']])

In [ ]:
df

,l3,Nombre_sector,precioxmt2,CCMC,alq_prom,DSC
0,Guayaquil,Abel Gilbert,57.235633,0.000000e+00,3000.000000,0.054748
1,Guayaquil,Acacias,39.845981,0.000000e+00,245.000000,0.035576
2,Guayaquil,Academia Logos,92.879041,6.305155e-06,665.921053,0.124794
3,Guayaquil,Acuarela,70.535564,5.510885e-06,390.688073,0.062298
4,Guayaquil,Alborada,67.467617,4.157044e-06,389.192825,0.062485
...,...,...,...,...,...,...
223,Quito,Santa Isabel,507.530245,0.000000e+00,1602.909091,0.104329
224,Quito,Santa Rita,391.641582,6.293926e-07,504.285714,0.065021
225,Quito,Solanda,369.978098,2.739629e-06,451.052632,0.055961
226,Quito,Turubamba,474.973907,1.692989e-06,540.645161,0.065571
227,Quito,Turubamba,474.973907,1.692989e-06,540.645161,0.118616

In [ ]:
df.drop_duplicates(subset = 'Nombre_sector', inplace=True)

In [ ]:
df['alq_prom'].fillna(0, inplace=True)

In [ ]:
df

,l3,Nombre_sector,precioxmt2,CCMC,alq_prom,DSC
0,Guayaquil,Abel Gilbert,57.235633,0.000000e+00,3000.000000,0.054748
1,Guayaquil,Acacias,39.845981,0.000000e+00,245.000000,0.035576
2,Guayaquil,Academia Logos,92.879041,6.305155e-06,665.921053,0.124794
3,Guayaquil,Acuarela,70.535564,5.510885e-06,390.688073,0.062298
4,Guayaquil,Alborada,67.467617,4.157044e-06,389.192825,0.062485
...,...,...,...,...,...,...
222,Quito,Santa Anita,1213.689162,0.000000e+00,300.000000,0.099943
223,Quito,Santa Isabel,507.530245,0.000000e+00,1602.909091,0.104329
224,Quito,Santa Rita,391.641582,6.293926e-07,504.285714,0.065021
225,Quito,Solanda,369.978098,2.739629e-06,451.052632,0.055961
226,Quito,Turubamba,474.973907,1.692989e-06,540.645161,0.065571

In [6]:
vent = ventas.drop(columns=['precioxmt2'])

In [7]:
properties = pd.concat([vent, alquiler])

In [15]:
results = properties.groupby('Nombre_sector')['id'].count().sort_values(ascending=False).reset_index()

In [16]:
results

       Nombre_sector     id
0           I√±aquito  11612
1         La Kennedy   3389
2             Urdesa   3283
3             La Paz   2669
4     Mariscal Sucre   2652
..               ...    ...
228       Geranios 1      1
229  Balerio Estacio      1
230   Vereda del Rio      1
231          Galavsa      1
232        Los Lagos      1

[233 rows x 2 columns]

In [19]:
idx = results['id'] > 500
results[idx]

            Nombre_sector     id
0                I√±aquito  11612
1              La Kennedy   3389
2                  Urdesa   3283
3                  La Paz   2669
4          Mariscal Sucre   2652
5                  Ceibos   2464
6                Ponceano   2090
7                 El Inca   1893
8                Alborada   1845
9                Carcelen   1442
10                Garzota   1423
11      Belisario Quevedo   1260
12                 Sauces   1164
13    San Isidro del Inca   1140
14       Puerto Santa Ana   1083
15   Parroquia Rocafuerte   1081
16             Villa Club    891
17      Ciudadela Vernaza    891
18                La Joya    831
19             Mucho Lote    730
20                Samanes    667
21              Atarazana    663
22             San Felipe    639
23                Kennedy    639
24                Urdenor    615
25        Ciudadela Adace    560
26            Puerto Azul    546
27  Parroquia Pedro Carbo    520
28             Guayacanes    515
29             Mapasingue    509

In [ ]:
bath_mean = properties.groupby('Nombre_sector')['bathrooms'].mean().reset_index()

In [ ]:
df = df.merge(bath_mean)

In [ ]:
idx = properties['property_type'].isin(['Oficina', 'Local comercial'])
actividad_comercial = properties[idx].groupby('Nombre_sector')['id'].count().reset_index()

In [ ]:
df = df.merge(actividad_comercial, how='left')

In [ ]:
df

,l3,Nombre_sector,precioxmt2,CCMC,alq_prom,DSC,bathrooms,id
0,Guayaquil,Abel Gilbert,57.235633,0.000000e+00,3000.000000,0.054748,1.866667,NaN
1,Guayaquil,Acacias,39.845981,0.000000e+00,245.000000,0.035576,2.200000,1.0
2,Guayaquil,Academia Logos,92.879041,6.305155e-06,665.921053,0.124794,2.716981,4.0
3,Guayaquil,Acuarela,70.535564,5.510885e-06,390.688073,0.062298,2.263889,7.0
4,Guayaquil,Alborada,67.467617,4.157044e-06,389.192825,0.062485,2.066910,113.0
...,...,...,...,...,...,...,...,...
219,Quito,Santa Anita,1213.689162,0.000000e+00,300.000000,0.099943,4.970588,NaN
220,Quito,Santa Isabel,507.530245,0.000000e+00,1602.909091,0.104329,3.148148,NaN
221,Quito,Santa Rita,391.641582,6.293926e-07,504.285714,0.065021,1.686567,3.0
222,Quito,Solanda,369.978098,2.739629e-06,451.052632,0.055961,2.456140,3.0
223,Quito,Turubamba,474.973907,1.692989e-06,540.645161,0.065571,2.450331,4.0

In [ ]:
df['id'].fillna(0, inplace=True)

In [ ]:
df.columns = ['ciudad', 'sector', 'pmc', 'ccmc', 'ap', 'dsc', 'bps', 'ac']

In [ ]:
df

,ciudad,sector,pmc,ccmc,ap,dsc,bps,ac
0,Guayaquil,Abel Gilbert,57.235633,0.000000e+00,3000.000000,0.054748,1.866667,0.0
1,Guayaquil,Acacias,39.845981,0.000000e+00,245.000000,0.035576,2.200000,1.0
2,Guayaquil,Academia Logos,92.879041,6.305155e-06,665.921053,0.124794,2.716981,4.0
3,Guayaquil,Acuarela,70.535564,5.510885e-06,390.688073,0.062298,2.263889,7.0
4,Guayaquil,Alborada,67.467617,4.157044e-06,389.192825,0.062485,2.066910,113.0
...,...,...,...,...,...,...,...,...
219,Quito,Santa Anita,1213.689162,0.000000e+00,300.000000,0.099943,4.970588,0.0
220,Quito,Santa Isabel,507.530245,0.000000e+00,1602.909091,0.104329,3.148148,0.0
221,Quito,Santa Rita,391.641582,6.293926e-07,504.285714,0.065021,1.686567,3.0
222,Quito,Solanda,369.978098,2.739629e-06,451.052632,0.055961,2.456140,3.0
223,Quito,Turubamba,474.973907,1.692989e-06,540.645161,0.065571,2.450331,4.0

In [ ]:
hv_output = '/content/drive/MyDrive/Proyecto Introduccion a la Ciencia de Datos/output'

In [ ]:
df.to_csv(f'{hv_output}/metricas_sectores.csv', index=False)

In [ ]:
ipc = pd.read_csv(f'{hv_output}/ipc_anual2017.csv')

In [ ]:
df = ipc[['neighborhood', 'ingpc_mean']].merge(df, left_on = 'neighborhood', right_on='sector')

In [ ]:
df.drop(columns=['neighborhood'], inplace=True)

In [ ]:
df.to_csv(f'{hv_output}/dataset_metodologia.csv', index=False)